VITE_API_URL=http://localhost:3001
VITE_GOOGLE_BOOKS_API_KEY=tu_clave_google_books
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_ADMIN_TEMPLATE_ID=
VITE_EMAILJS_DM_REPLY_TEMPLATE_ID=
